#c, #java, #ruby, #php, #header, #header-try, #header-why {
  display: none;
}
label[for=name] {
  font-size: 22px;
  font-weight: bold;
}
span {
  color: blue;
}
form {
  padding: 2px;
  width: 60%;
}
.container {
 font-family: sans-serif;
}
h2 {
  font-size: 30px;
}
li {
  font-size: 24px;
}
